<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PickAndPlace.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <PickAndPlace.Properties.Settings>
            <setting name="CamSn" serializeAs="String">
                <value>DA7667501</value>
            </setting>
            <setting name="CamExposure" serializeAs="String">
                <value>50000</value>
            </setting>
            <setting name="RobotIp" serializeAs="String">
                <value>192.168.0.5</value>
            </setting>
            <setting name="RobotPort" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SaveEnable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SaveMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="EndPointCheckStatus" serializeAs="String">
                <value>check_service_status</value>
            </setting>
            <setting name="ApiUrlAi" serializeAs="String">
                <value>http://127.0.0.1:8386/ai</value>
            </setting>
            <setting name="EndPointCalib2d" serializeAs="String">
                <value>calib_2d</value>
            </setting>
            <setting name="EndPointTransform" serializeAs="String">
                <value>transform_pixel_to_robot</value>
            </setting>
            <setting name="EndPointSaveMatrix" serializeAs="String">
                <value>save_calib_matrix</value>
            </setting>
            <setting name="EndPointLoadMatrix" serializeAs="String">
                <value>load_calib_matrix</value>
            </setting>
            <setting name="EndPointCheckCalibReady" serializeAs="String">
                <value>check_calib_ready_status</value>
            </setting>
            <setting name="EndPointGetRealCoord" serializeAs="String">
                <value>cal_robot_coord</value>
            </setting>
            <setting name="StartShiftTime" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentOK" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentNG" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MODELS_PATH" serializeAs="String">
                <value>C:\\BroSight\\Models</value>
            </setting>
            <setting name="EndPointLoadTemplates" serializeAs="String">
                <value>load_templates</value>
            </setting>
            <setting name="WriteTimeout" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="PickTimeout" serializeAs="String">
                <value>30000</value>
            </setting>
            <setting name="ReadPoseTimeout" serializeAs="String">
                <value>3000</value>
            </setting>
            <setting name="MoveTimeout" serializeAs="String">
                <value>10000</value>
            </setting>
        </PickAndPlace.Properties.Settings>
    </userSettings>
</configuration>